html, body {
	height: 100%;
}
body {
	display: flex;
	font-family: "Montserrat", sans-serif;
	font-size: 14px;
}

::selection {
	background-color: #2765e5;
	color: #fff;
}

a, a:hover {
	text-decoration: none;
	color: inherit;
}

main {
	flex: 1;
	background-color: #f8f9fc;
}

.sidebar {
	width: 20%;
	background: #fff;
	color: #333;
	border-right: 1px solid #f3f4f7;
}

.sidebar .logo {
	/*padding: 1em 0;*/
	letter-spacing: 4px;
	text-transform: uppercase;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 400;
	font-size: 1.2em;
	margin: 0 0 1.5em 0;
	color: #5e93ff;
	border-bottom: 1px solid #f3f4f7;
}

.sidebar .logo > span {
	font-weight: 100;
	color: #666;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.nav-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.5em 2.5em;
}

/*.nav-item:not(:last-child) {
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}*/

.nav-item .icon {
	color: #ccc;
	font-weight: 700;
}

.nav-item.active, .nav-item.active .icon {
	color: #5e93ff;
}

main section {
	padding: 0 2.5em;
}

.search {
	height: 60px;
	border-bottom: 1px solid #f3f4f7;
	display: flex;
	align-items: center;
}

input {
	font-family: "Montserrat", sans-serif;
	padding: 0.5em 0.75em;
	width: 100%;
	border: 1px solid #f3f4f7;
	outline: none;
	font-size: 14px;
	font-weight: 400;
}

::placeholder {
	color: #ccc;
}

.row {
	display: flex;
}

.row:first-child {
	margin-top: 2em;
}

.row:not(:last-child) {
	margin-bottom: 2em;
}

.col {
	flex: 1;
}

.flex {
	display: flex;
}

.stat {
	font-size: 6em;
	font-weight: 100;
	text-align: center;
}

h1, h2, h3, p {
	margin: 0;
	padding: 0;
}

p {
	color: #aaa;
	font-weight: 100;
	line-height: 2em;
	font-size: 0.9em;
}

.card {
	background-color: #fff;
	padding: 2em;
	box-shadow: 0 4px 14px rgba(0, 0, 0, 0.05);
	flex: 1;
	display: flex;
	flex-direction: column;
}

.card:not(:last-child) {
	margin-right: 2em;
}

.card-header h3 {
	font-size: 1.5em;
	font-weight: 400;
	text-transform: uppercase;
	margin-bottom: 1.2em;
}

.card-body {
	margin-bottom: auto;
}

.card-footer {
	padding-top: 2em;
}

button {
	border: 0;
	background-color: #5e93ff;
	color: #fff;
	width: 100%;
	padding: 1em 0;
	outline: 0;
	border-radius: 5px;
	cursor: pointer;
	-webkit-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

button:hover {
	background-color: #2765e5;
}
